[submodule "Ext/robin"]
	path = Ext/robin
	url = https://github.com/Tessil/robin-map
[submodule "Ext/libmorton"]
	path = Ext/libmorton
	url = https://github.com/Forceflow/libmorton.git
[submodule "Libs/mqt"]
	path = Libs/mqt
	url = https://github.com/Heerdam/MedianQuadtree.git
